In [29]:
import pandas as pd
import numpy as np
from functools import reduce

In [2]:
bowl_df = pd.read_csv(r"C:\Users\sakka\OneDrive\Documents\AMEX\BOWLER.csv")

In [1]:
#Adding required features in the bowl_df dataframe

In [10]:
bowl_df['dot_percentage'] = bowl_df['dots']/bowl_df['balls_bowled']

In [13]:
bowl_df['extras'] = bowl_df['noballs'] + bowl_df['wides']

In [19]:
bowl_df['boundary_percentage'] = (4 * bowl_df['Fours'] + 6 * bowl_df['Sixes'])/bowl_df['runs']

In [23]:
bowl_df['scaled_boundary'] = bowl_df['Fours'] + 1.5 * bowl_df['Sixes']

In [25]:
bowl_df['boundary_per_ball'] = bowl_df['scaled_boundary']/bowl_df['balls_bowled']

In [27]:
bowl_df.columns.to_list()

['match id',
 'bowler',
 'bowler_id',
 'bowler_details',
 'is_bowler_captain',
 'is_bowler_keeper',
 'inning',
 'runs',
 'wicket_count',
 'balls_bowled',
 'economy',
 'maiden',
 'dots',
 'Fours',
 'Sixes',
 'wides',
 'noballs',
 'match_dt',
 'dot_percentage',
 'extras',
 'boundary_percentage',
 'scaled_boundary',
 'boundary_per_ball']

In [4]:
#avg economy
ubowl_id = bowl_df.groupby('bowler_id')['economy'].mean().reset_index()

# Rename the columns for clarity
ubowl_id.columns = ['bowler_id', 'average_economy']

In [8]:
#avg wkts
average_wkts = bowl_df.groupby('bowler_id')['wicket_count'].mean().reset_index()

In [15]:
#avg dot_p
average_dot_p = bowl_df.groupby('bowler_id')['dot_percentage'].mean().reset_index()

In [16]:
#avg extras given
average_extras = bowl_df.groupby('bowler_id')['extras'].mean().reset_index()

In [32]:
average_extras.head()

   bowler_id    extras
0    34061.0  0.795918
1    37351.0  0.000000
2    41740.0  0.090909
3    49496.0  0.384615
4    55299.0  0.720930

In [17]:
#total maiden
maidens = bowl_df.groupby('bowler_id')['maiden'].sum().reset_index()

In [18]:
#avg runs given
average_runs = bowl_df.groupby('bowler_id')['runs'].mean().reset_index()

In [21]:
#avg boundary percentage
average_boundary_p = bowl_df.groupby('bowler_id')['boundary_percentage'].mean().reset_index()

In [26]:
#avg boundary per ball
average_boundary_ball = bowl_df.groupby('bowler_id')['boundary_per_ball'].mean().reset_index()

In [30]:
dfs = [ubowl_id, average_wkts, average_dot_p, average_extras, maidens,average_runs,average_boundary_p,average_boundary_ball]

# Use functools.reduce to merge the list of DataFrames
merged_df = reduce(lambda left, right: pd.merge(left, right, on='bowler_id'), dfs)

In [31]:
merged_df.head()

,bowler_id,average_economy,wicket_count,dot_percentage,extras,maiden,runs,boundary_percentage,boundary_per_ball
0,34061.0,9.371429,0.591837,0.288908,0.795918,0,20.061224,0.471042,0.212307
1,37351.0,10.000000,0.000000,0.000000,0.000000,0,10.000000,0.400000,0.166667
2,41740.0,6.818182,0.454545,0.382576,0.090909,0,8.363636,0.394910,0.133838
3,49496.0,6.509615,1.192308,0.359509,0.384615,0,24.307692,0.341819,0.108440
4,55299.0,8.623721,1.325581,0.333799,0.720930,2,29.046512,0.529136,0.202314