In [24]:
import pandas as pd

In [25]:
mat_df = pd.read_csv(r"C:\Users\sakka\OneDrive\Documents\AMEX\MATCH.csv")

In [26]:
mat_df.head()

,match id,team1,team2,winner,by,win amount,toss winner,toss decision,venue,city,...,inning2_runs,inning2_wickets,inning2_balls,team1_id,team1_roster_ids,team2_id,team2_roster_ids,series_type,winner_id,player_of_the_match_id
0,8638034,Nn Ds,Wn,Wn,wickets,9.0,Wn,field,By Ol,Mount Maunganui,...,152.0,1.0,97.0,17982,7907451.0:4381761.0:31464.0:258649.0:4949790.0...,18570,2653993.0:6718326.0:6718382.0:2486896.0:228878...,other_domestic,18570,NaN
1,8588005,Me Rs,Sy Tr,Sy Tr,runs,7.0,Sy Tr,field,Ca Ol,Carrara,...,117.0,2.0,74.0,33942,37351.0:46794.0:5406540.0:2231928.0:181404.0:1...,33963,1506098.0:1749075.0:36665.0:2083409.0:7534652....,other_domestic,33963,1749075.0
2,8587837,Sy Ss,Be Ht,Be Ht,wickets,4.0,Sy Ss,bat,Be Ct Gd,Brisbane,...,171.0,6.0,119.0,33956,7869987.0:7620283.0:2076192.0:4002340.0:306369...,33921,7620269.0:2286437.0:87191.0:5786766.0:3114803....,other_domestic,33921,3890984.0
3,8638041,Nn Ds,Oo,Oo,wickets,2.0,Oo,field,By Ol,Mount Maunganui,...,156.0,8.0,126.0,17982,7907451.0:4381761.0:31464.0:4949790.0:258649.0...,18360,2319638.0:256080.0:7918280.0:3913447.0:2690498...,other_domestic,18360,NaN
4,8587921,Ht Hs,Me Ss,Ht Hs,runs,21.0,Me Ss,field,Be Ol,Hobart,...,143.0,9.0,123.0,33928,4223883.0:2161599.0:1655436.0:5788418.0:319948...,33949,363047.0:2275097.0:3901078.0:2275195.0:4230127...,other_domestic,33928,3125849.0

In [27]:
mat_df.columns.to_list()

['match id',
 'team1',
 'team2',
 'winner',
 'by',
 'win amount',
 'toss winner',
 'toss decision',
 'venue',
 'city',
 'match_dt',
 'lighting',
 'series_name',
 'season',
 'ground_id',
 'umpire1',
 'umpire2',
 'inning1_runs',
 'inning1_wickets',
 'inning1_balls',
 'inning2_runs',
 'inning2_wickets',
 'inning2_balls',
 'team1_id',
 'team1_roster_ids',
 'team2_id',
 'team2_roster_ids',
 'series_type',
 'winner_id',
 'player_of_the_match_id']

In [28]:
mat_df['team1_toss_win'] = mat_df.apply(lambda row: 1 if row['toss winner'] == row['team1'] else 0, axis=1)

In [29]:
#Add a column of team1_inning1
mat_df['team1_inning1'] = mat_df.apply(
    lambda row: 1 if (row['toss winner'] == row['team1'] and row['toss decision'] == 'bat') or
                      (row['toss winner'] == row['team2'] and row['toss decision'] == 'field')
                      else 0, axis=1)

### Add columns of team1_runs and team2_runs

In [30]:
mat_df['team1_runs'] = mat_df.apply(lambda row: row['inning1_runs'] if row['team1_inning1'] == 1 else row['inning2_runs'],axis=1)

mat_df['team2_runs'] = mat_df.apply(lambda row: row['inning2_runs'] if row['team1_inning1'] == 1 else row['inning1_runs'],axis=1)

In [31]:
#team1_runs_conc and team2_runs_conc
mat_df['team1_runs_conc'] = mat_df.apply(lambda row: row['inning2_runs'] if row['team1_inning1'] == 1 else row['inning1_runs'],axis=1)

mat_df['team2_runs_conc'] = mat_df.apply(lambda row: row['inning1_runs'] if row['team1_inning1'] == 1 else row['inning2_runs'],axis=1)

In [32]:
#Create two new dataframes for runc_conc
team_runs_conc_df1 = mat_df[['team1_id', 'team1_runs_conc']].rename(columns={'team1_id': 'team_id', 'team1_runs': 'team_runs_conc'})
team_runs_conc_df2 = mat_df[['team2_id', 'team2_runs_conc']].rename(columns={'team2_id': 'team_id', 'team2_runs': 'team_runs_conc'})

In [33]:
team_runs_conc_df1 = team_runs_conc_df1.rename(columns={'team1_id': 'team_id', 'team1_runs_conc': 'team_runs_conc'})
team_runs_conc_df2 = team_runs_conc_df2.rename(columns={'team2_id': 'team_id', 'team2_runs_conc': 'team_runs_conc'})

In [34]:
#Create two new dataframes
team_runs_df1 = mat_df[['team1_id', 'team1_runs']].rename(columns={'team1_id': 'team_id', 'team1_runs': 'team_runs'})
team_runs_df2 = mat_df[['team2_id', 'team2_runs']].rename(columns={'team2_id': 'team_id', 'team2_runs': 'team_runs'})

In [35]:
#concatenate the dataframes for team_runs_conc
team_runs_conc_df = pd.concat([team_runs_conc_df1,team_runs_conc_df2])

In [36]:
team_runs_conc_df.to_csv(r'C:\Users\sakka\OneDrive\Desktop\check5.csv',index = False)

In [37]:
#concatenate the dataframes
team_runs_df = pd.concat([team_runs_df1,team_runs_df2])

### Add columns of team1_wickets and team2_wickets

In [38]:
#Add column of team1_wickets and team2_wickets
mat_df['team1_wickets'] = mat_df.apply(lambda row: row['inning1_wickets'] if row['team1_inning1'] == 1 else row['inning2_wickets'],axis=1)

mat_df['team2_wickets'] = mat_df.apply(lambda row: row['inning2_wickets'] if row['team1_inning1'] == 1 else row['inning1_wickets'],axis=1)

In [39]:
#Create two new dataframes
team_wickets_df1 = mat_df[['team1_id', 'team1_wickets']].rename(columns={'team1_id': 'team_id', 'team1_wickets': 'team_wickets'})
team_wickets_df2 = mat_df[['team2_id', 'team2_wickets']].rename(columns={'team2_id': 'team_id', 'team2_wickets': 'team_wickets'})

In [40]:
#concatenate the dataframes
team_wickets_df = pd.concat([team_wickets_df1,team_wickets_df2])

### Add columns of team1_balls and team2_balls

In [41]:
#Add column of team1_balls and team2_balls
mat_df['team1_balls'] = mat_df.apply(lambda row: row['inning1_balls'] if row['team1_inning1'] == 1 else row['inning2_balls'],axis=1)

mat_df['team2_balls'] = mat_df.apply(lambda row: row['inning2_balls'] if row['team1_inning1'] == 1 else row['inning1_balls'],axis=1)

In [42]:
#Create two new dataframes
team_balls_df1 = mat_df[['team1_id', 'team1_balls']].rename(columns={'team1_id': 'team_id', 'team1_balls': 'team_balls'})
team_balls_df2 = mat_df[['team2_id', 'team2_balls']].rename(columns={'team2_id': 'team_id', 'team2_balls': 'team_balls'})

In [43]:
#concatenate the dataframes
team_balls_df = pd.concat([team_balls_df1,team_balls_df2])

### uteam_id

In [44]:
uteam_id = team_balls_df.groupby('team_id', as_index=False)['team_balls'].mean()

In [45]:
uteam_id1.head()

   team_id  team_balls
0       20  116.382979
1       27  114.487805
2       34  114.285714
3       41  119.000000
4       48  115.111111

In [ ]:
uteam_id['avg_win_wkts'] = uteam_id['total_win_wkts']/uteam_id['match_win_wkts']

In [ ]:
uteam_id['avg_win_runs'].isin([float('inf'), float('-inf')]).any()

In [ ]:
uteam_id1 = team_wickets_df.groupby('team_id', as_index=False)['team_wickets'].mean()

In [ ]:
#merge
uteam_id = pd.merge(uteam_id, summary_df, on='team_id')

In [ ]:
#Average win runs and wickets
uteam_id['avg_win_runs'] = uteam_id['total_win_runs']/uteam_id['match'

In [ ]:
#Adding overs column

In [ ]:
uteam_id['avg_overs'] = uteam_id['team_balls']/6

In [ ]:
#average run_rate
uteam_id['avg_rr'] = uteam_id['team_runs']/uteam_id['avg_overs']

In [ ]:
#Add number of matches of the team
matches_df = team_runs_df.groupby('team_id').size().reset_index(name='count')

In [ ]:
matches_df = matches_df.rename(columns = {'count' : 'matches'})

In [ ]:
#Add number of wins
wins_df = mat_df.groupby('winner_id').size().reset_index(name='count')

In [ ]:
wins_df =wins_df.rename(columns = {'count' : 'wins', 'winner_id' : 'team_id'})

In [ ]:
wins_df.head()

In [ ]:
#Add win percentage
uteam_id['winp'] = (uteam_id['wins']/uteam_id['matches']) * 100

In [ ]:
#win amount
total_win_runs = mat_df[mat_df['by'] == 'runs'].groupby('winner_id').size().reset_index(name='total_win_runs')

# Calculate total wins by wickets ('total_win_wkts')
total_win_wkts = mat_df[mat_df['by'] == 'wickets'].groupby('winner_id').size().reset_index(name='total_win_wkts')

# Merge the two DataFrames on 'winner_id' to create the summary DataFrame
summary_df = pd.merge(total_win_runs, total_win_wkts, on='winner_id', how='outer').fillna(0)

In [ ]:
summary_df = summary_df.rename(columns = {'total_win_runs' : 'match_win_runs', 'total_win_wkts': 'match_win_wkts'})

In [ ]:
summary_df1 = summary_df1.rename(columns = {'winner_id' : 'team_id'})

In [ ]:
summary_df.head()

In [ ]:
total_win_runs = mat_df[mat_df['by'] == 'runs'].groupby('winner_id')['win amount'].sum().reset_index()
total_win_runs.columns = ['winner_id', 'total_win_runs']  # Rename the columns

# Calculate total amount of wickets by which each team won ('total_win_wkts')
total_win_wkts = mat_df[mat_df['by'] == 'wickets'].groupby('winner_id')['win amount'].sum().reset_index()
total_win_wkts.columns = ['winner_id', 'total_win_wkts']  # Rename the columns

# Merge the two DataFrames on 'winner_id' to create the summary DataFrame
summary_df1 = pd.merge(total_win_runs, total_win_wkts, on='winner_id', how='outer').fillna(0)

In [ ]:
uteam_id.to_csv(r'C:\Users\sakka\OneDrive\Documents\AMEX\unique_team_features.csv', index=False)

In [ ]:
#checking the feature of runs conceded

In [ ]:
train_df = pd.read_csv(r"C:\Users\sakka\OneDrive\Documents\AMEX\train_after_sub1.csv")

In [ ]:
team_runs_conc_df.head()

In [ ]:
# Merge train_df with df to get team1_runs
train_df = train_df.merge(team_runs_conc_df, how='left', left_on='team1_id', right_on='team_id')

In [ ]:
# Merge train_df with df to get team1_runs
train_df = train_df.merge(team_runs_conc_df, how='left', left_on='team2_id', right_on='team_id')
train_df.rename(columns = {'team_runs_conc':'team2_runs_conc'},inplace = True)

# Drop the redundant team_id column
train_df = train_df.drop(columns=['team_id'])

In [ ]:
testing.head()